<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frases Motivadoras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="content">
        <h1>Frases Motivadoras</h1>
        <p id="frase">{{ frase }}</p>
        <img id="motivational-gif" src="{{ gif_url }}" alt="Motivational GIF">
        <button onclick="fetchNewPhrase()">Siguiente Frase</button>
    </div>
    <script>
        function fetchNewPhrase() {
            $.get("/", function(data) {
                const parser = new DOMParser();
                const htmlDocument = parser.parseFromString(data, "text/html");
                const newPhrase = htmlDocument.documentElement.querySelector("#frase").innerHTML;
                const newGif = htmlDocument.documentElement.querySelector("#motivational-gif").src;
                document.getElementById("frase").innerHTML = newPhrase;
                document.getElementById("motivational-gif").src = newGif;
            });
        }
    </script>
</body>
</html>
