<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frases Motivadoras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="content">
        <h1>Frases Motivadoras</h1>
        <p>{{ frase }}</p>
        <img class="gif-image" src="{{ gif_url }}" alt="Motivational GIF">
        <br>
        <button onclick="window.location.reload();">Siguiente Frase</button>
    </div>
</body>
</html>
